<!DOCTYPE html>
<html>
<head>
    <title>Payment Success</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="success-card">
            <h1>Payment Successful!</h1>
            <p>Order ID: <%= orderId %></p>
            <a href="/">Back to Products</a>
        </div>
    </div>
</body>
</html> 